# Pre-commit hooks configuration
# See https://pre-commit.com for more information

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml

  # Python code quality - flake8
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--config=.flake8']

  # Run tests before committing
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: bash -c 'source venv/bin/activate && pytest'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
